$map-legend-color-0: #79afa9;
$map-legend-color-1: #9ebdb3;
$map-legend-color-2: #bec9bb;
$map-legend-color-3: #dcd5c3;
$map-legend-color-4: #f5e0cc;
$map-legend-color-5: #eecdaf;
$map-legend-color-6: #e6b995;
$map-legend-color-7: #dea57a;
$map-legend-color-8: #d89162;
$map-arrow-color: #ae8e71;
$major-font-color: #724a2b;
$map-darker-grown: #5a3a20;
$map-canal-color: #598FBB;
//:export {
//  mapLegendColor0: $map-legend-color-0;
//  mapLegendColor1: $map-legend-color-1;
//  mapLegendColor2: $map-legend-color-2;
//  mapLegendColor3: $map-legend-color-3;
//  mapLegendColor4: $map-legend-color-4;
//  mapLegendColor5: $map-legend-color-5;
//  mapLegendColor6: $map-legend-color-6;
//  mapLegendColor7: $map-legend-color-7;
//  mapLegendColor8: $map-legend-color-8;
//
//  mapArrowColor: $map-arrow-color;
//
//  majorFontColor: $major-font-color;
//
//}

$basic-font: FZQINGKBYSJF;
